<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delhi Hospital Donor Matching</title>
    <link rel="stylesheet" href="/css file/style1.css">
</head>
<body>
    <div class="image-container">
        <h1>Efficient Matching for Kidney Donation</h1>
        <h2>Please click the button below to find a donor</h2>
        <div class="button-container">
            <button class="custom-button" onclick="window.location.href='/templates/index.html'">Find Donor</button>
        </div>
    </div>
</body>
</html>
